*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --fontsize: 20px;
    --grayshade:#18181826 ;
    --dark-02: #474747;
    --dark-03: #757575;
    --dark-01:#181818;
}

/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 15px 35px;

}
.btn-secondary{
    border-radius: 5px;
background: white;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: #FD6E0A;
padding: 15px 35px;

}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    
}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
    margin: 0px 100px;
}
nav li{
   list-style: none;
   margin-right: 50px;
   margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}
nav h3{
    margin: 0px 100px;
}

/* header styling */
header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
   padding: 30px 30px 0px 150px ;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.banner .profile-pic{
    /* width: 584px; */
    height: 500px;
}
.banner-greeating{
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner_text{
    color: var(--dark-03, #757575);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 20px 0px;
}
.banner-content{
    min-height: 500px;
}
/* main Section styles */
main{
 /* max-width: 1140px; */
 margin: 0px auto;
}


/* About Section styles */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    border-radius: 10px;
    height: 600px;
    flex-shrink: 0;
    padding: 100px 150px;
    margin: 100px 230px;
    
}
.section_title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
}
.section_description{
    color: var(--dark-03, #757575);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    margin: 30px 10px;
    
}
.info-title{
/* color: #757575; */
/* text-align: center; */
/* font-size: 20px; */


}
.info-description{
    /* color: #474747; */
    padding: 10px;
    text-align: center;
    /* font-size: 20px; */
    /* font-weight: 400; */

}
.box-container{
    display: flex;
}
.box{
    justify-content: space-between;
    font-size: 18px;
    margin: 24px;
    padding: 30px;
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.con{
    margin: 50px 150px;
    text-align: center;
    padding: 20px;

}
.title{
    /* color: #757575; */
    /* text-align: center; */
    /* font-size: 20px; */
    
    
    }
.box-description{
        color: var(--dark-03, #757575);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    }   

.skill-icon{
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    

    }